html,body,div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
mark,audio,video {margin: 0;padding: 0;border: 0;font: inherit;}
ol, ul,li {list-style: none;}
* { padding: 0; margin: 0 }
img { border: 0 none; vertical-align: middle }
ul { list-style: none }
em { font-style: normal }
table { border-collapse: collapse }
textarea { resize: none; overflow-y: auto }
.clearfix:before, .clearfix:after { content: "."; display: table; height: 0; font-size: 0; line-height: 0; visibility: hidden }
.clearfix:after { clear: both }
.clearfix { *zoom:1}
input, textarea { color: #333333; }
a{ text-decoration:none; color: inherit}
html, body { color: #333333; background: #f7f7f7; font-weight: 300;}
.pb_top{background:#000 url(../img/29.png)no-repeat center center; height: 740px;width:100%; position: relative;}
.pb_top_module{width: 1001px; margin: auto; padding-top: 650px;}
.pb_top_module_1{width: 140px;text-align: center;color: #ffffff;font-size: 16px;font-weight:300;float: left;}
.pb_top_module_1:hover{ cursor: pointer; color: #d2bc93;}
.pb_top_module_1:hover .pb_top_module_line{background-color: #d2bc93;}
.pb_top_module_1 span{padding-top:8px;display: block;}
.pb_top_module_line{width:15px;height: 3px;background-color:#FFFFFF;margin-left: 60px;margin-top: 20px;}
.pb_data{background:#000 url(../img/27.png)no-repeat center center; height: 660px;width:100%; position: relative;}
.pb_data_word{width: 1001px; margin: auto;padding-top: 160px;}
.pb_data_word_1{height: 150px;width: 340px;color: #FFFFFF;float: left;}
.pb_data_word_1 p{font-size: 12px;line-height:25px;}
.pb_data_word_2{width: 120px;height:30px;}
.pb_data_word_2 button{width: 120px;height:30px;background-color: #b4a17d;color: #FFFFFF;font-weight:700; border: 2px solid #b4a17d;margin-top: 50px;}
.pb_data_word_3{height: 150px;width: 380px;color: #FFFFFF;padding-left: 390px;}
.pb_data_word_3 p{font-size: 12px;line-height:25px;}
.pb_data_word_4{width: 160px;background-color: #d7d6d2;float: right;color: #000; padding-bottom: 35px;}
.pb_data_word_4 h2{font-size: 50px;margin-top: 35px;margin-left: 20px;font-weight:500}
.pb_data_word_4 span{font-size: 14px;margin-left: 20px;font-weight:700; line-height: 200%;}
.pb_data_word_4 p{font-size: 12px;margin-left: 20px;line-height:23px;margin-right: 20px;margin-top: 5px;font-weight:500}
.pb_info{background:#fff ; height: 600px;width:100%; position: relative;}
.pb_info_all{width: 1001px; margin: auto;height: 640px}
.pb_info_img_1{height: 300px;width: 200px;position: absolute;background: #FFFFFF url(../img/25.png)no-repeat 100px 50px;}
.pbimg1{width:155px;height:41px;padding-top: 55px;}
.pbimg1 img{width: 80%;}
.pb_info1{width: 50px;height: 30px;padding-top: 85px;padding-left: 86px;font-size: 21px;font-weight:500}
.pb_info_line1{width:25px;height: 2px;background-color:#000;margin-left: 86px;}
.pb_info_word_1{width: auto;height: 100px;padding-left: 350px;font-size: 18px;padding-top: 50px;font-weight:500;}
.pb_info_word_1 p{float: left;padding-right: 8px;display: block;}
.pb_info_word_1 h3{width: 110px;}
.pb_info_word_1 span{font-size: 14px;}
.pb_infoimg{float: right;}
.pb_info_word_2{width: 530px;height: 50px;padding-left: 250px;line-height: 25px;}
.pb_info_word_2 p{font-size: 12px;text-indent:28px;font-weight:400;color: #494949;}
.pb_info_word_3{width: 470px;height: 80px;padding-left: 200px;padding-top: 50px;line-height: 25px;}
.pb_info_word_3 p{font-size: 12px;text-indent:28px;font-weight:400;color: #494949;}
.pb_info_img_2{height: 200px;width: 210px;background: #FFFFFF url(../img/24.png) no-repeat 94px 40px;float: right;position: relative;padding-right: 50px;}
.pbimg2{width:155px;height:41px;padding-top: 58px;margin-left: 150px;}
.pbimg2 img{width: 80%;}
.pb_info2{width: 50px;height: 30px;padding-top: 70px;;font-size: 21px;font-weight:500;float: right;}
.pb_info_line2{width:26px;height: 2px;background-color:#000;margin-top: 100px;margin-left: 163px;}
.pb_info_word_4{width: 520px;height: 80px;padding-top: 60px;line-height: 25px;}
.pb_info_word_4 p{font-size: 12px;text-indent:28px;font-weight:400;color: #494949;padding-left: 50px;}
.pb_info_img_3{height: 200px;width: 120px;background: #FFFFFF url(../img/26.png) no-repeat 4px 40px;float: right;position: relative;margin-right: 50px;}
.pb_info_button_1{width: 120px;height:30px;margin-left: 880px;padding-top: 30px;position: absolute;}
.pb_info_button_1 button{width: 120px;height:30px;background-color: #b4a17d;color: #FFFFFF;font-weight:700; border: 2px solid #b4a17d;}
.pb_info_button_1 button:hover{ cursor: pointer;}
.pbimg3{width:155px;height:41px;padding-top: 58px;margin-left: 60px;}
.pb_info_line3{width:26px;height: 2px;background-color:#000;margin-top: 100px;margin-left: 70px;}
.pb_info3{width: 50px;height: 30px;padding-top: 70px;;font-size: 21px;font-weight:500;float: right;}
.pbimg3 img{width: 80%;}
.pb_interval{background:#FFFFFF url(../img/23.png)no-repeat center 0; height: 100px;width:100%; position: relative;}
.pb_video{background:#fff ; height: 600px;width:100%; position: relative;}
.pb_video_all{width: 1001px;margin: auto;padding-top: 60px;}
.pb_discuss{background:#2e2e2e url(../img/33.png)no-repeat center center; height: 495px;width:100%; position: relative;}
.pb_discuss_input{width: 500px;height:300px;margin-right: 250px;margin-top: 60px;float: right;display: block;}
.pb_discuss_input input{font-size: 16px}
.pb_discuss_input_1{width: 460px;height: 16px;padding:10px 20px;line-height: 16px;}
.pb_discuss_input_2{width: 460px;height: 16px;padding:10px 20px;line-height: 16px;margin-top: 30px;}
.pb_discuss_input_3{width: 463px;height: 70px;padding:10px 20px;margin-top: 30px;}
.pb_discuss_button{width: 100px;height: 100px;padding-top: 30px;}
.pb_discuss_button_1 {width: 110px;height: 32px;background-color: #b4a17d;border:1px #b4a17d solid;color: #FFFFFF;}
.pb_end{height: 60px;width: 100%margin: auto;font-size: 12px;line-height: 60px;text-align: center;background-color: #705c36;color: #d2bc93;}
.pb_cooperation{height: 60px;width: 100%margin: auto;background-color: #d2bc93; cursor: pointer;}
.pb_support{background-color: #d2bc93;width: 100%;bottom:0px ;position: absolute;}
.pb_support_01{ width: 1000px; margin: auto; line-height: 100px; text-align: center;}
.pb_support_01 img{ width: 120px; margin: 0 20px;}
.pb_solicitude{background:#fff ; height: 600px;width:100%; position: relative;}
.pb_solicitude_all{width: 1002px;margin: auto;padding-top: 75px;}
.pb_solicitude_1{width: 334px;height: 229px;float: left; overflow: hidden;}
.pb_solicitude_one_key{width: 334px; text-align: center; margin-top: 60px;}
.pb_solicitude_one_key img{margin: 0px 10px;}
.pb_solicitude_button{width: 334px; text-align: center; margin-top: 20px; cursor: pointer;}
.pb_solicitude_button button{width: 80px;height:30px;background-color: #b4a17d;color: #FFFFFF;font-weight:700; text-align: center;border:1px solid #b4a17d; cursor: pointer;}
.pb_solicitude_two-dimension{width: 106px;height: 106px; width: 334px; text-align: center; margin-top: 55px; margin-bottom: 15px;}
.pb_solicitude_1 p{font-size: 12px;padding-left: 90px;}
.pb_solicitude_word_1{text-align: center;font-size: 17px;width: auto;height: 17px;font-weight:700;margin-top: 70px;}
.pb_solicitude_word_2{text-align: center;font-size: 13px;width: auto;height: 13px;font-weight:200;margin-top: 15px;}
.pb_music{background:#000 url(../img/36.png)no-repeat center center; height: 600px;width:100%; position: relative;}
.pb_music_all{width: 1001px;margin: auto;padding-top: 80px;}
.pb_music_left{width: 640px;height: 520px;}
.pb_music_right{width: 360px;height: 520px;float: right;}
.pb_music_right_word{width: 290px;height: 314px;background:url(../img/37.png);margin: 150px 70px;position:relative;}
.pb_music_right_img{display: block;z-index: 1; position:absolute;}
.pb_music_right_word_img{width: 40px;height: 138px;float: right;background-color: #d2bc93;margin-right: 16px;}
.pb_music_right_word_img img{margin-top: 10px;margin-left: 3px;}
.pb_music_right_word_1{padding-top: 170px;text-align: center;color: #fff;font-weight:400;line-height: 25px;}
.pb_music_right_word_1 span{font-size: 18px;}
.pb_music_right_word_1 p{font-size: 12px;}
.pb_music_left_1{width: 400px;height: 80px;position: relative;}
.pb_music_left_line{width:6px;height: 50px;background-color:#d2bc93;float: left;}
.pb_music_left_word{height: 50px;font-size: 43px;width: 300px;color: #fff;float: left;line-height: 50px;}
.pb_music_left_word p{float: left;padding: 0px 10px;font-weight:700;}
.pb_music_left_2{width: 556px;height: 314px;background: url(../img/38.png);margin-top: 10px;}
.pb_music_left_song{width:496px ;height:234px ;margin: 35px 30px;color: #fff;font-weight:300;position:absolute;}
.song_1{font-size: 14px;width: auto;height: 15px; margin-bottom: 28px;}
.song_1:hover{ cursor: pointer; color: #ffe8be;}
.song_3:hover{ color: #fff;}
.song_3{font-size: 16px;width: 470px;height: 32px;border: 1px solid #d2bc93;line-height: 32px;background-color: #d2bc93;border-radius:25px; }
.song_3 span{margin-left: 15px;font-weight:500; color: #705c36;}
.pb_music_left_3{width: 556px;height: 82px;position:absolute;line-height: 82px;}
.pb_music_left_icon{float: left;margin: 0px 30px;height: auto;width: auto; cursor: pointer;}
.pb_music_left_icon_2{float: right;margin-right: 30px;}
.pb_video_right{width: 740px;height: 520px;float: right;}
.pb_video_left{width: 260px;height: 520px;}
.pb_video_right_word{width: 550px;height: 447px;background-color: #f8f8f8;margin: 10px 190px;position:absolute;font-size: 15px}
.pb_video_right_word p{ position: absolute; right: 30px; bottom: 95px;}
.pb_video_right_img{ position:absolute;display: block;z-index: 1;margin-top: 85px;width:463px ;height: 277px;background: url(../img/22.png);}
.pb_video_right_word_1 {float: right;margin-top: 90px;margin-right: 30px;font-weight: 400;width: auto;height: 50px;}
.pb_video_right_word_1 span{float: right;font-size: 14px;margin-top: 5px;}
.pb_video_left_1{width: 300px;height: 150px;position: relative;margin-top:65px ;}
.pb_video_left_word{height: 100px;font-size: 43px;width: 250px;color: #000;float: left;line-height: 50px;}
.pb_video_left_word p{float: left;font-weight:700;}
.pb_video_left_img{width: 155px;height: 41px;display: block;padding-top: 110px;}
.pb_video_left_img img{width: 80%;}
.pb_video_left_2{font-size: 12px;height: auto;width: 180px;font-weight: 400;line-height: 17px;}
 .pb_video_right_img_1{position: relative;text-align: center;line-height:277px ; cursor: pointer;}
.pb_show{background:#000 url(../img/50.png)no-repeat center center; height: 534px;width:100%; position: relative;}
.pb_show_top{width: 100%;height: 68px;background-color: #FFFFFF;position: relative;}
.pb_show_top_word{width: 1001px;margin: auto;position: relative;}
.pb_show_top_word_1{width: 248px;height: 66px;font-size: 16px;float: left;line-height: 66px;text-align: center;border: 1px solid #f2f2f2;background-color: #000;color:#fff;}
.pb_show_top_word_2{width: 248px;height: 66px;font-size: 16px;float: left;line-height: 66px;text-align: center;border: 1px solid #f2f2f2;color:#202020;}
.pb_show_body{height: 750px;width: 100%;background-color: #fff}
.pb_show_body_all{width: 1001px;position: relative;margin: auto;}
.pb_show_body_1{height: 250px;width: 500px;float: left;}
.pb_show_body_1 img{width: 100%;}
.pb_support_show{background-color: #d2bc93;width: 100%;height: 100px;bottom:0px ;position: relative;}
.pb_show_body_3{height: 250px;width: 500px;float: left;background-color: #202020;}
.pb_show_body_2{height: 250px;width: 500px;float: left;background-color: #fff;}
.pb_show_body_word{height: 170px;width: 420px;margin: 37px 40px;color:#fff;}
.pb_show_body_word h2{font-size: 18px;font-weight: 600;}
.pb_show_body_word_1{width: 420px;height: 90px;font-size: 13px;line-height: 28px;color: #494949;}
.pb_show_body_line{width:15px;height: 3px;background-color:#FFFFFF;}
.pb_show_body_word_2{width: 420px;height: 30px;line-height: 30px;color: #494949;}
.pb_show_body_word_2 p{font-size: 13px;float: left;}
.pb_2{margin-left: 50px;}
.pb_show_body_button {height: 30px;width: 90px;background-color: #202020;border: 1px solid #d3bd91; border-radius:25px;margin-top: 5px;color: #FFFFFF;}
.pb_show_body_2 h2{color:#202020;}
.pb_show_body_button_2{height: 30px;width: 90px;background-color: #FFFFFF;border: 1px solid #202020; border-radius:25px;margin-top: 5px;color: #202020;}
.pb_show_body_line_2{width:15px;height: 3px;background-color:#202020;}
.pb_homepage{background:#000 url(../img/46.png)no-repeat center center; height: 534px;width:100%; position: relative;}
.pb_homepage_img{height: 200px;width: 100%;}
.pb_homepage_img_all{width: 1001px;margin: auto;position: relative;}
.pb_homepage_img_1{width: 200px;height: 200px;float: left;}
.pb_homepage_img_1 img{width: 100%;}
.pb_homepage_body{width: 100%;background-color: #F2F2F2;height: auto;}
.pb_homepage_body_all{width: 1001px;margin: auto;position: relative;background-color: #FFFFFF;padding-bottom: 82px;}
.pb_homepage_body_right{width: 350px;height: auto;float: right;background-color:#ededed;position: relative;}
.pb_homepage_body_left{width: 650px;height: auto;}
.pb_homepage_body_right_1{width: 350px;height: 300px;line-height: 300px;}
.pb_homepage_body_right_word_1{text-align: center;font-size: 15px;width: auto;height: 17px;font-weight:700;}
.pb_homepage_body_right_word_2{text-align: center;font-size: 13px;width: auto;height: 13px;font-weight:200;margin-top: 15px;}
.pb_homepage_body_right_2{width: auto;height: 200px;border-top:3px solid #d4d4d4;margin:0  80px;position: relative;border-bottom:3px solid #d4d4d4;}
.pb_homepage_one_key{float: left;height:auto ;margin-top: 60px;width: auto;}
.pb_homepage_one_key img{margin: 0px 10px;}
.pb_homepage_button{margin:120px 50px ;width: auto;height: auto;}
.pb_homepage_button button{width: 80px;height:30px;color: #000;font-weight:500; border-radius:8px;text-align: center;border:1px solid #b4a17d;}
.pb_homepage_body_left_two_dimension{width: 334px;height: auto;float: left;margin-top: 50px;}
.pb_homepage_body_left_two_dimension p{font-size: 12px;padding-left: 90px;}
.pb_homepage_body_left_1{width: 600px;font-size: 18px;height: 30px;line-height: 30px;text-align: center;font-weight: 600;padding-top: 75px;}
.pb_homepage_body_left_2{width: 600px;height: auto;padding-top: 20px;position: relative;}
.pb_homepage_body_left_title{width: 245px;height: 300px;font-size: 16px;font-weight: 500;text-align: center;float: left;}
.pb_homepage_body_left_text{width: 305px;height: 300px;display: inline-block;}
.pb_homepage_body_left_line{width:15px;height: 2px;background-color: #202020;margin: 10px 0px;}
.pb_homepage_body_left_text p{font-size: 14px;line-height: 25px;color: #494949;}
.pb_top_logo{ position: absolute; width: 1000px; left: 50%; margin-left: -500px; top: 20px;}
.pb_top_logo span{ color: #d2bc93; font-size: 18px; margin-left: 20px;}
.pb_top_logo span:hover{ text-decoration: underline; cursor: pointer;}
.pb_top_logo p{ position: absolute; right: 0; top: 0px;}
.pb_top_logo div{ position: absolute; right: 160px; top: 0px;}
.pb_top_01{ position: absolute; width: 256px; left: 50%; margin-left: -128px; top: 580px; cursor: pointer;}
 #audiojs_wrapper0{ display: none;}
.pb_video_right_word_01{ position: absolute; right: 0; top: -43px;}












